<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.personalfinance">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="个人理财通"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity android:name=".SetIncome"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".SetNote"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ChangePw"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".SetSpend"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".MyNote"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".Data"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".MyIncome"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".MySpend"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".AddNote"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".AddIncome"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AddSpend"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Register" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>